<nav>
    <img src="../../assets/logo-collab.png" alt="logo-collab" [routerLink]="'/home'">
    
    <div class="row">
        <div class="col-12">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                    <i class="fa-solid fa-user"></i>
                     Usuario Generico
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem [routerLink]="'/vista_Proyecto'"><i class="fa-solid fa-screwdriver-wrench"></i> Ver Proyectos</button>
                    <button ngbDropdownItem [routerLink]="'/home'"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</button>
                </div>
            </div>
        </div>
    </div>
    
</nav>


