<nav>
    <img src="../../assets/logo-collab.png" alt="logo-collab" [routerLink]="'/home'">
    <button id="btn-inicio" type="button" (click)="open(content)">Iniciar sesión</button>
</nav>

<ng-template #content let-modal>
	<div class="contenedor-modal">
		<button type="button" id="btn-modal" (click)="modal.dismiss('Cross click')"><i class="fa-regular fa-circle-xmark"></i></button>
		<p class="modal-title" id="modal-basic-title">Iniciar Sesión</p>
		<div class="modal-body">
			<div class="mb-3">
				<app-login></app-login>
			</div>
			
		</div>
	</div>
</ng-template>
