nav {
    background-color: #5cceee;
    height: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    height: 90%;
    transform: translateY(4px);
    margin-left: 2%;
}
img:hover {
    cursor: pointer;
}
#btn-inicio {
    border: none;
    padding: 10px 9px;
    margin-right: 5%;
    font-size: 15px;
    font-weight: 700;
    border-radius: 15px;
    background: #CACACA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#btn-inicio:hover {
    cursor: pointer;
}
#btn-inicio:active {
    background-color: #b3b1b1;
    transform: translateY(2px);
}
#btn-modal {
    border: none;
    background-color: white;
    font-size: 1.2rem;
    width: 100%;
    text-align: right;
    padding: 15px 15px 0 0;
}
.modal-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}
.contenedor-modal {
    height: 630px;
}