#vista_Datos{
    font-size: 19px;

}

.perfil_datos{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#perfil_info{
    justify-content: center;
    display: block;
    // padding: 2rem;
    padding: 0;
}
input {
    border-radius: 25px;
    background: #D9D9D9;
    border: none;
    height: 30px;
    width: 280px;
    margin-bottom: 20px;
    padding: 15px;
}
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 60%;
    padding-top: 5%;
}
#btn-cambiarDatos {
    border-radius: 10px;
    background: #24C0EB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 1.3rem;
    margin: 25px;
}
label{
    padding: 1.3rem;
    font-size: 1.7rem;
}
#datosPlan{
    padding: 1.5rem;
    font-size: 25px;
    margin-right: 0;
}
.row {
    margin: 0;
}
p {
    text-align: center;
}
#boton-cambiar-datos {
    display: flex;
    justify-content: center;
}