<div id="crear-cuenta">
    <div id="formulario">
        <label>Correo Electrónico</label>
        <input type="email" placeholder="Ingrese su correo electrónico">
        <label>Usuario</label>
        <input type="text" placeholder="Ingrese un nombre de usuario">
        <label>Contraseña</label>
        <input type="password" placeholder="Escriba una contraseña segura">
        <label>Confirme Contraseña</label>
        <input type="password" placeholder="Confirme su contraseña">
    </div>
    <button id="btn-crear">Crear</button>
</div>