<app-navbar2></app-navbar2>

<div id="columna_Menu" class="container-flex">
    <div class="row">
      <div id="menu_Usuario" class="col-2">
        <div class="row" >

            <i class="fa-solid fa-bars"></i>

        </div>
        

        <div class="container-flex">
            <div id="filaMenu" class="row">
                <div  class="col-12">
                    <i class="fa-solid fa-house"></i>
                    Pagina Principal

                </div>
            </div>
            <div id="filaMenu" class="row">
                <div  class="col-12">
                    <i class="fa-solid fa-plus"></i>
                    Crear Proyecto

                </div>
            </div>
        </div>

      </div>

      <div class="col-10">
        <div class="container-flex">
            <div class="row">
                <div class="col-12">
                    Proyecto Creados
                </div>
            <div class="row">
                <div class="col-12">
                    Aqui va la seccion que se genera con el componente de las carpetas de proyectos
                </div>
            </div>

            </div>
            


        </div>







       
      </div>
      
    </div>
  </div>