#menu_Usuario{
    height: 100vh;
    background-color: #5cceee;
    justify-content: center;
    
    

}
#columna_Menu{
    justify-content: center;
    
}
#filaMenu{
    padding-top: 1rem;
    justify-content: center;
    padding-left: 0.5rem;

}
#barras{
    padding-left: 0.5rem;
}
.cursor {
    cursor: pointer;
}