<app-navbar></app-navbar>
<div id="contenedor-logo-collab">
    <img id="logo-grande-collab" src="../../assets/logo-grande-collab.png" alt="logo-collab">
</div>
<p id="planes">Planes</p>
<div id="tarjetas">
    <div class="tarjeta-plan contenido-tarjeta">
        <p class="dolar">$</p>
        <p>0$/Mes</p>
        <p>Gratis</p>
        <p>Almacenaje de proyectos: 3</p>
    </div>
    <div class="tarjeta-plan contenido-tarjeta">
        <p class="dolar">$$</p>
        <p>5$/Mes</p>
        <p>Junior</p>
        <p>Almacenaje de proyectos: 10</p>
    </div>
    <div class="tarjeta-plan contenido-tarjeta">
        <p class="dolar">$$$</p>
        <p>12$/Mes</p>
        <p>Senior</p>
        <p>Almacenaje de proyectos: 30</p>
    </div>
</div>