<div id="contenedor-logo-collab">
    <img id="logo-grande-collab" src="../../assets/logo-grande-collab.png" alt="logo-collab">
</div>
<div id="contenido">
    <div class="centrar">
        <p id="editor">El editor web por excelencia</p>
        <p>Trabaja en colaborativo con las tecnologías que sustentan la web</p>
        <div id="imagenes">
            <img class="imagen-web" src="../../assets/CSS.png" alt="CSS">
            <img class="imagen-web" src="../../assets/HTML.png" alt="HTML">
            <img class="imagen-web" src="../../assets/Javascript.png" alt="JS">
        </div>
    </div>
    <div class="centrar">
        <p id="gratis">¡Gratis!</p>
        <p>Obten mejoras con planes de paga</p>
        <p>Crea cuantos proyectos quieras y pruébalos sin costo</p>
        <button id="btn-planes" type="button" [routerLink]="'/planes'">Planes</button>
    </div>
</div>