#menu_Usuario{
    height: 100vh;
    background-color: #5cceee;
    // display: flex;
    // justify-content: center;
}
#contenedor-detalles-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#columna_Menu{
    justify-content: center;
}
#filaMenu{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}
#barras{
    padding-left: 0.5rem;
}
input {
    border-radius: 25px;
    background: #D9D9D9;
    border: none;
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 5px;
    padding: 15px;
}
#cuadroHTML{
    background-color: #D9D9D9;
    border: 1px solid black;

}
#cuadroCSS{
    background-color: #D9D9D9;
    border: 1px solid black;
}
#cuadroJavaScript{
    background-color: #D9D9D9;
    border: 1px solid black;
}
#cuadroResultado{
    background-color: #D9D9D9;
    border: 1px solid black;
}
#contenedorCuadros{
    height: 85vh;
}