<app-navbar4></app-navbar4>

<div id="columna_Menu" class="container-flex">
    <div class="row">
      <div id="menu_Usuario" class="col-2">
        <div id="barras" class="row" >

            <i class="fa-solid fa-bars"></i>

        </div>
        

        <div class="container-flex">
            <div id="filaMenu" class="row">
                <div  class="col-12">
                    
                    Nombre del Proyecto

                </div>
            </div>

            <div class="row">
                <div class="col-12" id="perfil_datos" >
                    <input type="text" placeholder="Proyecto 1">
                </div>
            </div>

            <div id="filaMenu" class="row">
                <div  class="col-12">
                    
                    Descripcion del proyecto

                </div>
            </div>

            <div class="row">
                <div class="col-12" id="perfil_datos" >
                    <input type="text" placeholder="Proyecto de muestra 1, Lorem Ipsum, quien lee esto">
                </div>
            </div>


            <div id="filaMenu" class="row">
                <div  class="col-12">
                    <i class="fa-solid fa-plus"></i>
                    Subir Recursos

                </div>
            </div>

            <div class="row">
                <div class="col-12" id="perfil_datos" >
                    <input type="text" placeholder="Suelte aqui los recursos">
                </div>
            </div>


        </div>

      </div>

      <div class="col-10">
        
            

        <div class="container-fluid" id="contenedorCuadros">
            <div class="row h-50">
              <div class="col" id="cuadroHTML">
                
                
                
                HTML

                


              </div>
              <div class="col" id="cuadroCSS">
                CSS
              </div>             
            </div>
            <div class="row h-50">
                <div class="col" id="cuadroJavaScript">
                    Javascript
                </div>
                <div class="col" id="cuadroResultado">
                  Resultado
                </div>             
              </div>
          </div>
                
                

        
      </div>
      
    </div>
  </div>
